body { font: 14px/24px monospace; width: 518px; margin: 50px auto 0; padding: 0; background: #333; color: #ccc }
body h2 { text-align: center; margin: 50px 0 10px; text-shadow: 1px 1px 0 black }
body > p { text-shadow: 1px 1px 0 black }
p > a { color: #00728F; text-shadow: 1px 1px 0 black }
p > a:hover { color: #0092aF }

#spaceout { position: relative; width: 518px; height: 346px }

#game, #starfield { position: absolute }
#starfield { background: black }

#director { position: absolute; z-index: 1; text-align: left; width: 100%; height: 100% }
#director div { position: relative; text-align: center; width: 100%; height: 100%; display: none }
#director h1 {
	text-transform: uppercase;
    font-size: 52px;
    line-height: 115%;
    padding: 35px 0;
    margin: 0;
    text-shadow: 0 1px 0 #ccc, 
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}
#director h1 span { display: block; color: rgba(255,255,255,0.5); color: white }
#director ul { margin: 0; padding: 0; list-style-type: none }
#director li { color: #2058ff; margin-bottom: 5px; font-size: 24px }
#director .inst { color: white; font-size: 14px }

#director .startScreen { display: block }
#director .startScreen h1 { font-size : 70px; letter-spacing: -3px }
#director .startScreen .inst { margin-top: 40px }
#director .level h1 { padding-top: 130px }
#director .paused { background: rgba(0,0,0,0.5); }
#director .paused ul { padding-top: 140px }
#director .highScores .inst { margin-top: 30px }
#director .gameOver h1 { padding: 60px 0 30px }
#director .gameOver input { border: 0; outline: 0; background: rgba(0,0,0,0); color: #2058ff;
    margin-top: 20px; text-align: center; font-size: 20px; font-weight: bold }
#director .gameOver .inst { margin-top: 20px }